[Unit]
Description=Owncloud OCIS server

[Service]
Type=simple
User=ocis
Group=ocis
EnvironmentFile=/etc/ocis/ocis.env
ExecStart=/usr/bin/ocis server
Restart=always

[Install]
WantedBy=multi-user.target
